@import url("./buttons.scss");
@import url("./fonts/index.scss");
@import url("./colors/index.scss");
@import url("../../../node_modules/bootstrap/scss/bootstrap.scss");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
