#settings {
  position: relative;
  margin-right: 20px;
  font-size: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white);

  > span:hover {
    animation: rotate 2s;
  }

  .settings-dropdown {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
