<div id="settings" data-testid="settings-container">
  <span
    nz-icon
    [nzType]="'setting'"
    data-testid="settings-button"
    role="button"
    (click)="changeModal()"
    [nzTheme]="'fill'"></span>

  <ul
    class="settings-dropdown"
    data-testid="settings-dropdown"
    *ngIf="isModalOpen">
    <li>
      <span>Dark Mode:</span>
      <app-toggle-theme pp-toggle-theme></app-toggle-theme>
    </li>
    <li>
      <span>Logout:</span>
      <app-logout-button></app-logout-button>
    </li>
    <li>
      <span>Código Fonte:</span>
      <a href="https://github.com/VinicciusSantos/Brisalabs-PokeAPI">
        <span
          class="github-link"
          nz-icon
          nzType="github"
          nzTheme="outline"></span>
      </a>
    </li>
  </ul>
</div>
