<div
  data-testid="container-pokemon"
  id="container-pokemon"
  *ngIf="pokemon"
  (click)="changeModal(true)">
  <h2>{{ pokemon.name }}</h2>
  <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />

  <div id="contTypes">
    <img
      *ngFor="let tipo of pokemon.types"
      [title]="'type ' + tipo.type.name"
      [alt]="'type ' + tipo.type.name"
      data-testid="pokemon-type-image"
      [src]="'../../../assets/types/' + tipo.type.name + '.png'" />
  </div>

  <div
    id="background"
    [ngStyle]="{
      'background-image': 'url(' + pokemon.sprites.front_default + ')'
    }"></div>
</div>

<app-modal
  data-testid="modal"
  *ngIf="isModalOpen"
  [isOpen]="isModalOpen"
  [pokemon]="pokemon"
  (isOpenChange)="changeModal($event)"></app-modal>
