<header>
  <section>
    <img src="../../../assets/title.png" />
    <nav>
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active">
            <span nz-icon nzType="home" nzTheme="fill"></span>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/favoritos" routerLinkActive="active">
            <span nz-icon nzType="star" nzTheme="fill"></span>
            <span>Favoritos</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <section id="right-section">
    <app-toggle-theme></app-toggle-theme>

    <a href="https://github.com/VinicciusSantos/Brisalabs-PokeAPI">
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </a>
  </section>
</header>
