<header>
  <section>
    <img
      [src]="image"
      alt="logo"
      data-testid="logo"
      [routerLink]="['/pokemons']" />
    <nav>
      <ul>
        <li *ngFor="let page of pages" data-testid="page">
          <a [routerLink]="page.route" routerLinkActive="active">
            <span nz-icon [nzType]="page.icon" nzTheme="fill"></span>
            <span>{{ page.title }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <section id="right-section">
    <app-toggle-theme></app-toggle-theme>

    <button
      (click)="logOut()"
      class="btn-logout"
      data-testid="logout-button"
      title="Logout">
      <span nz-icon nzType="logout" nzTheme="outline"></span>
    </button>

    <a href="https://github.com/VinicciusSantos/Brisalabs-PokeAPI">
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </a>
  </section>
</header>
