<header>
  <section>
    <img
      [src]="image"
      alt="logo"
      width="100px"
      data-testid="logo"
      [routerLink]="['/pokemons']" />
    <nav>
      <ul>
        <li *ngFor="let page of pages" data-testid="page">
          <a [routerLink]="page.route" routerLinkActive="active">
            <span nz-icon [nzType]="page.icon" nzTheme="fill"></span>
            <span>{{ page.title }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <app-settings></app-settings>
</header>
