#cont-component {
  height: 100%;
  width: 90vw;

  ul#container-tier-list {
    width: 100%;
    padding: 5px;
    background-color: var(--tertiary-1);
    color: var(--black-transparence-75);
    border-collapse: separate;
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--black-transparence-5);

    ul#tier {
      display: flex;
      background-color: var(--tertiary-2);
      border: 3px solid var(--tertiary-1);
      border-radius: 5px;

      li#title-tier {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        min-height: 80px;
        border-radius: 5px;
        margin-right: 5px;
      }

      ul#pokemons-in-tier {
        width: 100%;
        display: flex;
      }
    }
  }

  ul#favorite-list {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: var(--font-color);
    background-color: var(--tertiary-2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}
