table {
  padding: 5px;
  width: 90vw;
  margin-top: 30px;
  background-color: var(--tertiary-1);
  color: var(--black-transparence-75);
  border-collapse: separate;
  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--black-transparence-5);

  tr {
    display: flex;
    background-color: var(--tertiary-2);
    border: 3px solid var(--tertiary-1);
    border-radius: 5px;

    td,
    th {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
    }

    th {
      border-radius: 5px;
      margin-right: 5px;
    }
  }
}
