<div id="cont-component">
  <ul id="container-tier-list" data-testid="tier-list">
    <ul id="tier" *ngFor="let tier of classes" data-testid="tier">
      <li id="title-tier" [style.backgroundColor]="tier.color">
        {{ tier.name }}
      </li>
      <ul>
        <li id="card-pokemon-tier" *ngFor="let pokemon of favoritos[tier.name]">
          <img
            [src]="pokemon.sprites.front_default"
            [alt]="pokemon.name"
            height="70px" />
        </li>
      </ul>
    </ul>
  </ul>

  <ul id="favorite-list">
    <li
      *ngFor="let fav of favoritos['none']"
      [title]="fav.name"
      id="card-pokemon-tier">
      <img
        [src]="fav.sprites.front_default"
        [alt]="fav.name + 'pokemon'"
        width="90%" />
    </li>
  </ul>
</div>
