<div id="cont-component" data-testid="cont-component" cdkDropListGroup>
  <ul id="container-tier-list" data-testid="tier-list">
    <ul id="tier" data-testid="tier" *ngFor="let tier of classes">
      <li id="title-tier" [style.backgroundColor]="tier.color">
        {{ tier.name }}
      </li>
      <ul
        id="pokemons-in-tier"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListConnectedTo]="['favorite-list']"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="favoritos[tier.name]">
        <app-tier-card
          *ngFor="let pokemon of favoritos[tier.name]"
          [pokemon]="pokemon">
          <app-tier-card
            class="example-custom-placeholder"
            *cdkDragPlaceholder
            [pokemon]="pokemon">
          </app-tier-card>
        </app-tier-card>
      </ul>
    </ul>
  </ul>

  <ul
    id="favorite-list"
    data-testid="favorite-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="favoritos['none']"
    [cdkDropListConnectedTo]="['pokemons-in-tier']"
    (cdkDropListDropped)="drop($event)">
    <app-tier-card
      *ngFor="let pokemon of favoritos['none']"
      [pokemon]="pokemon"></app-tier-card>
  </ul>
</div>
