#card-pokemon-tier,
.cdk-drag {
  width: 65px !important;
  height: 65px;
  border-radius: 10px;
  background-color: var(--tertiary-3);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--tertiary-4);
  cursor: move;
  background-position: center;
  background-size: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
}
