<li data-testid="container-pokemon" id="container-pokemon" *ngIf="pokemon">
  <h2 [routerLink]="[pokemon.name]">{{ pokemon.name }}</h2>
  <div id="cont-img">
    <img
      id="pokemon-img"
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      [routerLink]="[pokemon.name]" />
  </div>

  <div id="cont-types">
    <img
      width="50px"
      *ngFor="let tipo of pokemon.types"
      [title]="'type ' + tipo.type.name"
      [alt]="'type ' + tipo.type.name"
      data-testid="pokemon-type-image"
      [routerLink]="[pokemon.name]"
      [src]="'../../../assets/types/' + tipo.type.name + '.png'" />

    <button
      id="fav-icon"
      data-testid="fav-icon"
      (click)="changeFavorite()"
      [ngClass]="{
        'favorite-checked': isFavorited,
        'favorite-unchecked': !isFavorited
      }">
      <span role="button" nz-icon nzType="heart" nzTheme="fill"></span>
    </button>
  </div>

  <div
    id="background"
    [routerLink]="[pokemon.name]"
    [ngStyle]="{
      'background-image': 'url(' + pokemon.sprites.front_default + ')'
    }"></div>
</li>
