#container-pokemon {
  position: relative;
  width: 90%;
  margin: 20px;
  height: 90%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px var(--black-transparence-15);
  border-radius: 15px;
  transition-duration: 0.2s;
  cursor: pointer;
  z-index: 0;

  h2 {
    margin: 15px;
    background-color: var(--white-transparence-45);
    width: 90%;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 5px 0;
    box-shadow: 0px 0px 4px var(--black-transparence-15);
  }

  * {
    z-index: -1;
  }

  #cont-img {
    width: 14vw;
    height: 14vw;
    outline: 5px solid var(--white-transparence-15);
    background-color: var(--white);
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px var(--black-transparence-15);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      transition-duration: 0.2s;
    }
  }

  #cont-types {
    position: relative;
    width: calc(90% - 20px);
    height: auto;
    border-radius: 5px;
    background-color: var(--white-transparence-45);
    box-shadow: 0px 0px 4px var(--black-transparence-15);
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    align-items: center;

    img {
      width: 45px;
    }

    #fav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 5px;
      top: -50%;
      z-index: 2;
      border-radius: 50%;
      background-color: var(--white-transparence-45);
      box-shadow: 0px 0px 4px var(--black-transparence-15);
      padding: 5px;
      border: 0;
      width: 30px;
      height: 30px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  #background {
    z-index: -2;
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 8000%;
    background-position: center;
    filter: opacity(50%) saturate(200%);
  }

  &:hover {
    transition-duration: 0.2s;
    transform: scale(1.005);

    #cont-img img {
      transition-duration: 0.2s;
      transform: scale(1.1);
    }
  }
}

.favorite-unchecked span {
  color: var(--black-transparence-45);
}

.favorite-checked span {
  color: rgb(255, 52, 52);
  animation: heart .3s;
}

@keyframes heart {
  70% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
