<div class="container">
  <!-- <app-toggle-theme></app-toggle-theme> -->
  <main>
    <div id="left-banner"></div>
    <div id="cont-form">
      <img src="../../../assets/title.png" alt="title" width="80%" />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="usuario" placeholder="username" />

        <input type="password" formControlName="senha" placeholder="password" />

        <button type="submit" class="btn-secondary">LOGIN</button>
      </form>
    </div>
  </main>
</div>
