<div
  data-testid="modal"
  *ngIf="pokemon && isOpen"
  [ngClass]="{
    'modal-open': isOpen,
    'modal-closed': !isOpen
  }">
  <div class="content" [ngClass]="{ 'content-closing': isClosing }">
    <div id="left-img">
      <img
        [src]="pokemon.sprites.front_default"
        width="100%"
        [alt]="PokemonName" />
      <div
        id="background"
        [ngStyle]="{
          'background-image': 'url(' + pokemon.sprites.front_default + ')'
        }"></div>
      <div id="cont-types">
        <img
          *ngFor="let tipo of pokemon.types"
          height="30px"
          [routerLink]="['../']"
          [queryParams]="{ type: tipo.type.name }"
          [title]="'type ' + tipo.type.name"
          [src]="'../../../../assets/types/' + tipo.type.name + '.png'"
          [alt]="tipo.type.name" />
      </div>
    </div>
    <div class="main">
      <div id="title">
        <h2>{{ pokemon.name }}</h2>
        <button (click)="changeModal()" data-testid="close-button">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
      </div>

      <span id="divider"></span>

      <ul>
        <div id="main-infos">
          <app-badge
            key="Height"
            [value]="pokemon.height"
            [background]="pokemon.sprites.front_default"></app-badge>
          <app-badge
            key="Weight"
            [value]="pokemon.weight"
            [background]="pokemon.sprites.front_default"></app-badge>
        </div>
        <app-badge
          key="Abilities"
          [value]="pokemon.abilities | pokemonAbilities"
          [background]="pokemon.sprites.front_default"></app-badge>
        <li id="status-list">
          <span>Stats:</span>
          <ul>
            <li *ngFor="let stat of pokemon.stats">
              <app-progress-bar
                [title]="stat.stat.name"
                [preenchido]="stat.base_stat"
                [backgroundImage]="pokemon.sprites.front_default"
                [total]="160"></app-progress-bar>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <img src="../../../assets/pokeball.png" alt="pokeball" width="50px" />
  <div
    data-testid="back"
    id="background"
    (click)="changeModal()"
    [ngClass]="{ 'bg-closing': isClosing }"></div>
</div>

<!-- <div id="cont-types">
  <img
    width="100px"
    *ngFor="let tipo of pokemon.types"
    width="35px"
    [src]="'../../../assets/types/' + tipo.type.name + '.png'"
    alt="" />
</div> -->
