.modal-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-transparence-45);
    transition-duration: 0.5s;
    z-index: 1;
    animation: open-background 0.5s;
  }

  .bg-closing {
    transition-duration: 0.5s;
    opacity: 0;
  }

  > img {
    z-index: 2;
    width: 100px;
    animation: pokeball-in 0.7s;
    animation-fill-mode: forwards;
    position: absolute;
  }

  .content {
    visibility: hidden;
    z-index: 2;
    animation: open 0.4s 0.6s;
    animation-fill-mode: forwards;
    height: 80%;
    color: var(--font-coolor);
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    display: flex;

    .photos {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: min-content;

      img {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 2%;
        padding: 20px;
        box-shadow: 3px 3px 3px var(--black-transparence-15);
      }

      img + img {
        margin-top: 10px;
      }
    }

    .main {
      width: 700px;
      padding: 15px;
      border-radius: 5px;
      position: relative;
      background-color: white;
      z-index: -2;
      border: 3px 3px 3px var(--black-transparence-15);
      display: flex;
      flex-direction: column;

      #title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        button {
          color: var(--black-transparence-75);
          font-size: 15px;
          border: none;
          background-color: transparent;
          transition-duration: 0.5s;

          &:hover {
            transition-duration: 0.5s;
            transform: rotate(180deg);
          }
        }
      }

      #divider {
        display: block;
        width: 100%;
        background-color: var(--black-transparence-15);
        opacity: 0.5;
        height: 1px;
      }

      #background {
        z-index: -1;
        border-radius: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5000%;
        filter: brightness(1) opacity(0.2) saturate(1.5);
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      h2 {
        margin-top: 2px;
        text-transform: capitalize;
      }
    }

    div + div {
      margin-left: 10px;
    }
  }

  .content-closing {
    animation: close 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes open {
  from {
    visibility: visible;
    transform: scale(0);
  }

  to {
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes close {
  from {
    visibility: visible;
    transform: translateY(0);
  }

  to {
    visibility: visible;
    transform: translateY(100vh);
  }
}

@keyframes open-background {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pokeball-in {
  0% { transform: translateY(100vh) rotate(360deg); }
  70% { transform: translateY(0) rotate(-360deg); }
  100% { transform: scale(0.01); }
}
