:root {
  --black: #000;
  --black-transparence-90: #000000e5;
  --black-transparence-75: #000000bf;
  --black-transparence-60: #0009;
  --black-transparence-45: #00000073;
  --black-transparence-30: #0000004d;
  --black-transparence-15: #00000026;
  --white: #fff;
  --white-transparence-90: #ffffffe5;
  --white-transparence-75: #ffffffbf;
  --white-transparence-60: #fff9;
  --white-transparence-45: #ffffff73;
  --white-transparence-30: #ffffff4d;
  --white-transparence-15: #ffffff26;
}

:root .light-mode,
:root {
  --primary-1: #f8e28c;
  --primary-2: #f6bd20;
  --primary-3: #de9400;
  --primary-4: #623108;
  --secondary-1: #c52018;
  --secondary-2: #e65a41;
  --secondary-3: rgb(211 38 29);
  --tertiary-1: #fff;
  --tertiary-2: #eee;
  --tertiary-3: #ddd;
  --tertiary-4: #ccc;
  --font-color: #333;
}

:root .dark-mode {
  --primary-1: #fff6a4;
  --primary-2: #f6bd20;
  --primary-3: #de9400;
  --primary-4: #623108;
  --secondary-1: #000;
  --secondary-2: #be933e;
  --secondary-3: #cf9c35;
  --tertiary-1: #000;
  --tertiary-2: #292929;
  --tertiary-3: #41414a;
  --tertiary-4: #737383;
  --font-color: #f5f5f5;
}
